.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.ingredientList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 40px;
}

.ingredient {
    width: calc(25% - 15px);
}